<div class="col-md-6 offset-md-3">
    <h3> Create Employee </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Student Name</label>
            <input type="text" class ="form-control" id = "sname"
                [(ngModel)] = "student.sname" name = "StudentName">
        </div>
    
        <div class="form-group">
            <label> Student Class</label>
            <input type="text" class ="form-control" id = "sclass"
                [(ngModel)] = "student.sclass" name = "StudentClass">
        </div>

        <div class="form-group">
            <label> Student Branch</label>
            <input type="text" class ="form-control" id = "sbranch"
                [(ngModel)] = "student.sbranch" name = "StudentBranch">
        </div>
    
        <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" class ="form-control" id = "mobno"
                [(ngModel)] = "student.mobno" name = "MobileNumber">
        </div>

        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "semail"
                [(ngModel)] = "student.semail" name = "emailId">
        </div>
    
        <button class = "btn btn-success" type ="submit">Add</button>
    
    </form>
    </div> 